/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;  /*makes 1rem = 10px*/
	font: inherit;
	vertical-align: baseline;
  box-sizing:border-box; /*added by me*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end resets section*/


/* CSS HSL */
:root {
--smoky-black: hsla(20, 39%, 5%, 1);
--brunswick-green: hsla(162, 42%, 22%, 1);
--xanadu: hsla(104, 10%, 43%, 1);
--metallic-sunburst: hsla(49, 40%, 43%, 1);
--sage: hsla(48, 29%, 70%, 1);
}

html {
  background: var(--sage);
  color: var(--smoky-black);
  scroll-behavior: smooth;
}

#header_bar {
  display: flex;
  background: var(--smoky-black);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  border-bottom: 0.25rem solid var(--metallic-sunburst);
	justify-content: space-between;
	height: 22vh; /*header_bar + nav_bar = 25% vh*/

	/*FIX THIS:  Need mobile query for thin width screens, otherwise header text pops out of display on very thin screens*/
}

#header_bar img {
  padding-left: 0.5rem;
  align-items: flex-start;
  height: 100%;
}

#header_text_wrapper {
	padding-right: 2rem;
	color: var(--xanadu);
	font-family: 'Viaoda Libre', serif;
	font-size: 4rem; /*40px*/

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#firm_name {
	color: var(--sage);

}


#motto {
	font-size: 3rem;
}

#navigation_bar {
	background-color: var(--brunswick-green);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: var(--sage);
	height: 3vh; /*header+navigation = 25% of page space*/
}


.nav_bar_button {
	text-decoration: none;
	color: var(--sage);
}

/*all this does is make the colored boxes the right size*/
.background_color {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
}

.background_color:nth-of-type(even) {
	background-color:  var(--metallic-sunburst);
	color: var(--smoky-black);
}

.background_color:nth-of-type(1) {
	height: 75vh; /*related to size of "header" & "navigation_bar"*/
}

.background_color:last-of-type {
	height: 94vh; /*related to size of "footer"*/
}

/*end sizing of colored boxes*/



.button_scroll_up {
	position: absolute;
	bottom: 0;
	right: 2vw;
	background-color: var(--brunswick-green);
	padding: 0.75rem;
	text-decoration: none;
 	border-bottom: 0.25rem solid var(--smoky-black);
	border-radius: 0.25rem;
	color: var(--sage);
	font-weight: 1000;
	flex: 1;
}

.button_floating_scroll_top {
	position: fixed;
	bottom: 8vw;
	right: 2vw;
	background-color: var(--brunswick-green);
	padding: 0.75rem;
	text-decoration: none;
 	border-bottom: 0.25rem solid var(--smoky-black);
	border-radius: 0.25rem;
	color: var(--sage);
	font-weight: 1000;
	flex: 1;
}

.button_more {
	position: absolute;
	bottom: 0;
	right: 8vw;
	background-color: var(--brunswick-green);
	padding: 0.75rem;
	text-decoration: none;
	border-bottom: 0.25rem solid var(--smoky-black);
	border-radius: 0.25rem;
	color: var(--sage);
}


.content_card {
	position: relative;
	display: flex;
	height: 70vh;
	width: 90vw;
	background-color: inherit;
	border: none;
	border-bottom: 0.25rem solid var(--brunswick-green);
	border-radius: 0.25rem;
	justify-content: space-between;
	flex: 1;
}



#pic_street_view {
	border-radius: 0.25rem;
	border: 0.25rem solid var(--sage);
	margin: 1rem;
}

#pic_justice {
	border-radius: 0.25rem;
	border: 0.25rem solid var(--metallic-sunburst);
	margin: 1rem;
}

#pic_nysupreme {
	border-radius: 0.25rem;
	border: 0.25rem solid var(--sage);
	margin: 1rem;
}


.display_text {
	align-items: center;
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	padding: 2rem;
}

.top_text {
	font-family: 'Viaoda Libre', serif;
	font-size: 4rem;
	color: var(--brunswick-green);
}

.additional_text {
	font-family: 'Viaoda Libre', serif;
	font-size: 2rem;
}

#intro_content {
	display: flex;
	background: white;
	max-height: 70vh;
	width: 90vw;
	border-top: 0.25rem solid white;
	border-left: 0.25rem solid white;
	border-right: 0.25rem solid white;
	border-bottom: 0.25rem solid var(--brunswick-green);
	border-radius: 0.25rem;
	justify-content: space-between;
}


#footer {
	height: 6vh;
	display: flex;
	text-align: right;
	flex-flow: column;
	justify-content: space-around;
	background-color: var(--smoky-black);
	color: var(--sage);
	border-top: 0.25rem solid var(--brunswick-green);
}

/*specific to the about page*/
.about_section {
padding: 1rem;
padding-bottom: 2rem;

}

.lawyer_spotlight {
	display: block;
}
.lawyer_spotlight:first-child {
	align-items: center;
}

.about_section h1 {
	color: var(--brunswick-green);
	font-size: 3rem;
	margin-bottom: 1rem;
}

.about_section p {
	text-align: justify;
	margin-bottom: 1rem;
		line-height: 1.3;
}

.lawyer_name_and_pic {
	margin: 1rem;
	position: relative;
	display: flex;
	height: 50vh;
	width: 90vw;
	background-color: inherit;
	border: none;
	justify-content: space-between;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 0.25rem solid var(--brunswick-green);
}

.lawyer_name_and_pic img {
	border-radius: 0.25rem;
	border: 0.25rem solid white;
	margin: 1rem;
	position: relative;
	height: 100%;
	width: auto;

}

/*for the future, I need to use this to make the mobile website better*/
@media screen and (max-width: 1000px){
	.content_card img {
		border-radius: 0.25rem;
		border: 0.25rem solid white;
		margin: 1rem;
		position: relative;
		height: 95%;
		width: auto;
	}

	#motto {
		display: none;
	}
  }
